div#miczDescription{
    padding:0px 15px 0px 15px;
    font-size: 13px;
}

div#miczDescription h1{
    font-size: 15px;
}

div#miczDonation{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

table#miczPrefs {
    font-size: 13px;
    padding: 10px;
    border-spacing: 0px;
    
}

table#miczPrefs td{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    padding: 2px;
}

table#miczPrefs tr:first-child td {
    border-top: none;
}
  
table#miczPrefs  tr:last-child td {
    border-bottom: none;
}

div#miczRelNotes{
    position:absolute;
    right: 0px;
    bottom: 2px;
    padding: 2px 5px 0px 0px;
}

div#miczStatusPage{
    position:absolute;
    left: 0px;
    bottom: 2px;
    padding: 2px 0px 0px 5px;
    text-transform: capitalize;
}

div#miczDescription h1{
    text-align: center;
    margin-bottom: 0px;
}

div#miczDescription p{
    text-align: justify;
    margin-top: 0px;
}

input#chatgpt_win_width{
    width: 100px;
}

input#chatgpt_win_height{
    width: 100px;
}

span.dims_label{
    width: 75px;
    display: inline-block;
}

#btn_custom_prompts{
    text-align: center;
    width: 100%;
    margin: 10px 0px;
}

div#miczTranslate{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
}

tr.conntype_chatgpt_api, tr.conntype_chatgpt_api2{
    background-color: rgb(185, 220, 252);
}

tr.conntype_chatgpt_web, tr.conntype_chatgpt_web2{
    background-color: rgb(255, 209, 183);
}

tr.conntype_ollama_api, tr.conntype_ollama_api2{
    background-color: rgb(177, 238, 169);
}

tr.conntype_openai_comp_api, tr.conntype_openai_comp_api2{
    background-color: rgb(213, 169, 238);
}

tr.conntype_google_gemini_api, tr.conntype_google_gemini_api2{
    background-color: rgb(233, 238, 169);
}

#chatgpt_model_fetch_loading{
    display: none;
    font-style: italic;
}

#google_gemini_model_fetch_loading{
    display: none;
    font-style: italic;
}

#google_gemini_system_instruction{
    width: -moz-available;
    height: 10em;
}

.api_key-container {
    position: relative;
    width: 100%;
}

.api_key-container input {
    width: -moz-available;
    margin-right: 25px;
}

input[type="text"], input[type="password"]{
    border-radius: 4px;
    padding: 2px;
}

input.option-input[type="text"]{
    width: -moz-available;
}

.api_key-container .toggle-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#ollama_model_fetch_loading{
    display: none;
    font-style: italic;
}

#openai_comp_model_fetch_loading{
    display: none;
    font-style: italic;
}

#owl_warning{
    display: none;
}

#owl_warning div{
    color: white;
    font-style: italic;
    background-color: red;
    border-radius: 4px;
    padding: 3px;
    font-weight: bold;
    margin-bottom: 5px;
}

#owl_warning div a{
    background-color: white;
    padding:0px 3px;
    border-radius: 4px;
}

#mzta_top_msg div{
    color: white;
    font-style: italic;
    background-color: rgb(3, 0, 180);
    border-radius: 4px;
    padding: 3px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

#mzta_top_msg div a{
    background-color: white;
    padding:0px 3px;
    border-radius: 4px;
}

.conntype_chatgpt_web_option{
    cursor: pointer;
}

.btn_small{
    font-size: 0.8em;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(35, 34, 43);
        color: rgb(251, 251, 254);
    }
    
    a:link { color: #409EFF; }   
    a:visited { color: #409EFF; }  
    a:hover { color: #66B1FF; }   
    a:active { color: #66B1FF; }
    
    tr.conntype_chatgpt_api, tr.conntype_chatgpt_api2{
        background-color: rgb(0, 0, 58);
    }

    tr.conntype_chatgpt_web,tr.conntype_chatgpt_web2{
        background-color: rgb(39, 11, 0);
    }

    tr.conntype_ollama_api, tr.conntype_ollama_api2{
        background-color: rgb(7, 58, 0);
    }

    tr.conntype_openai_comp_api, tr.conntype_openai_comp_api2{
        background-color: rgb(89, 20, 129);
    }

    tr.conntype_google_gemini_api, tr.conntype_google_gemini_api2{
        background-color: rgb(72, 77, 3);
    }

    .api_key-container .toggle-icon img {
        filter: invert(1);
    }

    #mzta_top_msg div{
        background-color: rgb(2, 0, 100);
    }

}