@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(35, 34, 43);
        color: rgb(251, 251, 254);
    }
    
    a:link { color: #409EFF; }   
    a:visited { color: #409EFF; }  
    a:hover { color: #66B1FF; }   
    a:active { color: #66B1FF; }
    
}

div#miczRelNotes{
    padding: 10px;
}

div#miczBackPrefs{
    position:absolute;
    right: 0px;
    top: 0px;
    padding: 2px 5px 0px 0px;
}

h1{
   font-size:16px; 
}

h2{
    font-size: 14px;
    margin-bottom: 0px;
}

ul{
    margin-top:0px;
}