div#miczDescription{
    padding:0px 15px 0px 15px;
    font-size: 13px;
}

div#miczDescription h1{
    font-size: 15px;
}

div#miczDonation{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

table#miczPrefs {
    font-size: 13px;
    padding: 10px;
    border-spacing: 0px;
    
}

table#miczPrefs td{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    padding: 2px;
}

table#miczPrefs tr:first-child td {
    border-top: none;
}
  
table#miczPrefs  tr:last-child td {
    border-bottom: none;
}

div#miczRelNotes{
    position:absolute;
    right: 0px;
    bottom: 2px;
    padding: 2px 5px 0px 0px;
}

div#miczStatusPage{
    position:absolute;
    left: 0px;
    bottom: 2px;
    padding: 2px 0px 0px 5px;
    text-transform: capitalize;
}

div#miczDescription h1{
    text-align: center;
    margin-bottom: 0px;
}

div#miczDescription p{
    text-align: justify;
    margin-top: 0px;
}

input#chatgpt_win_width{
    width: 100px;
}

input#chatgpt_win_height{
    width: 100px;
}

span.dims_label{
    width: 75px;
    display: inline-block;
}

#btn_custom_prompts{
    text-align: center;
    width: 100%;
    margin: 10px 0px;
}

div#miczTranslate{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
}

tr.conntype_chatgpt_api, tr.conntype_chatgpt_api2{
    background-color: rgb(185, 220, 252);
}

tr.conntype_chatgpt_web, tr.conntype_chatgpt_web2{
    background-color: rgb(255, 209, 183);
}

/* color to be used for a local LLM
.conntype_chatgpt_web,.conntype_local_llm{
    background-color: rgb(205, 255, 205);
}
*/

#model_fetch_loading{
    display: none;
    font-style: italic;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(35, 34, 43);
        color: rgb(251, 251, 254);
    }
    
    a:link { color: #409EFF; }   
    a:visited { color: #409EFF; }  
    a:hover { color: #66B1FF; }   
    a:active { color: #66B1FF; }
    
    tr.conntype_chatgpt_api, tr.conntype_chatgpt_api2{
        background-color: rgb(0, 0, 58);
    }

    tr.conntype_chatgpt_web,tr.conntype_chatgpt_web2{
        background-color: rgb(39, 11, 0);
    }

    tr.conntype_ollama_api, tr.conntype_ollama_api2{
        background-color: rgb(7, 58, 0);
    }

    /* color to be used for a local LLM
    .conntype_chatgpt_web,.conntype_local_llm{
        background-color: rgb(0, 39, 0);
    }
    */
}