div#miczDescription{
    padding:0px 15px 0px 15px;
    font-size: 13px;
}

div#miczDescription h1{
    font-size: 15px;
}

div#miczDonation{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

table#miczPrefs {
    font-size: 13px;
    padding: 10px;
    border-spacing: 0px;
    
}

table#miczPrefs td{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    padding: 2px;
}

table#miczPrefs tr:first-child td {
    border-top: none;
}

table#miczPrefs td.nb{
    border-bottom: none;
}

table#miczPrefs td.nt{
    border-top: none;
}

tr#chatgpt_web_models_list td{
    border: none;
}
  
div#miczRelNotes{
    position:absolute;
    right: 0px;
    bottom: 2px;
    padding: 2px 5px 0px 0px;
}

div#miczStatusPage{
    position:absolute;
    left: 0px;
    bottom: 2px;
    padding: 2px 0px 0px 5px;
    text-transform: capitalize;
}

div#miczDescription h1{
    text-align: center;
    margin-bottom: 0px;
}

div#miczDescription p{
    text-align: justify;
    margin-top: 0px;
}

input#chatgpt_win_width{
    width: 100px;
}

input#chatgpt_win_height{
    width: 100px;
}

span.dims_label{
    width: 75px;
    display: inline-block;
}

#btn_custom_prompts{
    text-align: center;
    width: 100%;
    margin: 10px 0px;
}

div#miczTranslate{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 1em;
}

.small_info{
    font-size:smaller;
}

.warn_API_needed{
    display: none;
    font-weight: bold;
}

#no_sparks td{
    text-align: center;
    padding: 1em !important;
    background: #bbf7f1;
}

#owl_warning{
    display: none;
}

#hyprland_warning{
    display: none;
}

.warning{
    color: white;
    font-style: italic;
    background-color: red;
    border-radius: 4px;
    padding: 3px;
    font-weight: bold;
    margin-bottom: 5px;
}

.warning a{
    background-color: white;
    padding:0px 3px;
    border-radius: 4px;
}

#mzta_top_msg div{
    color: #212529;
    font-style: italic;
    background-color: #e0e0e0;
    border-radius: 4px;
    padding: 15px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#mzta_top_msg div a{
    color: #007BFF;
}

#mzta_top_msg div a:hover{
    color: #FF6600;
}

#mzta_top_msg td{
    border:0 !important;
}

.btn_small{
    font-size: 0.8em;
}

.lightbold{
    color: #292929;
}

label:has(input[type="checkbox"]) {
    cursor: pointer;
}

#thstats div{
    text-align: center;
    padding: 10px !important;
    border: 0 !important;
    background: rgb(185, 238, 238);
    font-weight: bold;
    font-style: italic;
    border-radius: 4px;
}

#thstats td{
    border-top:0 !important;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(35, 34, 43);
        color: rgb(251, 251, 254);
    }
    
    a:link { color: #409EFF; }   
    a:visited { color: #409EFF; }  
    a:hover { color: #66B1FF; }   
    a:active { color: #66B1FF; }
    
    tr.conntype_chatgpt_api, tr.conntype_chatgpt_api2{
        background-color: rgb(0, 0, 58);
    }

    tr.conntype_chatgpt_web,tr.conntype_chatgpt_web2{
        background-color: rgb(39, 11, 0);
    }

    tr.conntype_ollama_api, tr.conntype_ollama_api2{
        background-color: rgb(7, 58, 0);
    }

    tr.conntype_openai_comp_api, tr.conntype_openai_comp_api2{
        background-color: rgb(89, 20, 129);
    }

    tr.conntype_google_gemini_api, tr.conntype_google_gemini_api2{
        background-color: rgb(72, 77, 3);
    }

    tr.conntype_anthropic_api, tr.conntype_anthropic_api2{
        background-color: rgb(83, 0, 35);
    }

    .api_key-container .toggle-icon img {
        filter: invert(1);
    }

    #mzta_top_msg div{
        color:#EEEEEE;
        background-color: #313131;
    }

    #mzta_top_msg div a{
        color: #00ADB5;
    }
    
    #mzta_top_msg div a:hover{
        color: #FF5722;
    }

    #no_sparks td{
        background: #3b514f;
    }

    .lightbold{
        color: #f3f3f3;
    }

    #thstats div{
        background: rgb(41, 70, 70);
    }
}