@media (prefers-color-scheme: dark) {
    body {
        background-color: #1C1B22;
        color: rgb(251, 251, 254);
    }
    
    a:link { color: #409EFF; }   
    a:visited { color: #409EFF; }  
    a:hover { color: #66B1FF; }   
    a:active { color: #66B1FF; }

    table {
        background-color: #1C1B22;
        border: 1px solid #ccc;
    }

    table th {
        background-color: #4c4e58;
        border: 1px solid rgb(251, 251, 254);
        color: rgb(194, 194, 194);
    }

    table tr:nth-child(even) {
        background-color: #2E2F36;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}

thead {
    position: sticky;
    top: 26px;
}

#command_palette{
    position: sticky;
    top: 0;
    padding-top: 1px;
    height: 26px;
    width: 100%;
    background-color: inherit;
}

#btnNew{
    float: right;
}

#btnSaveAll{
    float: left;
}

#msgDisplay{
    padding-left: 40px;
}

table tr {
    border-bottom: 1px solid #ccc;
}

table th {
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

table td {
    border: 1px solid #ddd;
    padding: 8px;
}

table td.properties{
    white-space: nowrap;
}

.hiddendata{
    display: none;
}

#formNew{
    display: none;
}

.text_output{
    width: 100%;
    height: 9em;
}