tr.conntype_chatgpt_api, tr.conntype_chatgpt_api2{
    background-color: rgb(185, 220, 252);
}

tr.conntype_chatgpt_web, tr.conntype_chatgpt_web2{
    background-color: rgb(255, 209, 183);
}

tr.conntype_ollama_api, tr.conntype_ollama_api2{
    background-color: rgb(177, 238, 169);
}

tr.conntype_openai_comp_api, tr.conntype_openai_comp_api2{
    background-color: rgb(213, 169, 238);
}

tr.conntype_google_gemini_api, tr.conntype_google_gemini_api2{
    background-color: rgb(233, 238, 169) !important;
}

tr.conntype_anthropic_api, tr.conntype_anthropic_api2{
    background-color: rgb(255, 168, 204);
}

#chatgpt_model_fetch_loading{
    display: none;
    font-style: italic;
}

#google_gemini_model_fetch_loading{
    display: none;
    font-style: italic;
}

textarea.option-textarea{
    width: -moz-available;
    height: 10em;
}

label{
    width: -moz-available;
}

.api_key-container {
    position: relative;
    width: 100%;
}

.api_key-container input {
    width: -moz-available;
    margin-right: 25px;
}

input[type="text"], input[type="password"]{
    border-radius: 4px;
    padding: 2px;
}

input.option-input[type="text"]{
    width: -moz-available;
}

.api_key-container .toggle-icon {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#ollama_model_fetch_loading{
    display: none;
    font-style: italic;
}

#openai_comp_model_fetch_loading{
    display: none;
    font-style: italic;
}

#anthropic_model_fetch_loading{
    display: none;
    font-style: italic;
}

.conntype_chatgpt_web_option{
    cursor: pointer;
}

span.opt_title{
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    tr.conntype_chatgpt_api, tr.conntype_chatgpt_api2{
        background-color: rgb(0, 0, 58);
    }

    tr.conntype_chatgpt_web,tr.conntype_chatgpt_web2{
        background-color: rgb(39, 11, 0);
    }

    tr.conntype_ollama_api, tr.conntype_ollama_api2{
        background-color: rgb(7, 58, 0);
    }

    tr.conntype_openai_comp_api, tr.conntype_openai_comp_api2{
        background-color: rgb(89, 20, 129);
    }

    tr.conntype_google_gemini_api, tr.conntype_google_gemini_api2{
        background-color: rgb(72, 77, 3) !important;
    }

    tr.conntype_anthropic_api, tr.conntype_anthropic_api2{
        background-color: rgb(83, 0, 35);
    }

    .api_key-container .toggle-icon img {
        filter: invert(1);
    }
}