#get_calendar_event_prompt_container{
    width: 90%;
    margin: 20px auto;
}

#get_calendar_event_prompt_text{
    width: 100%;
}

.infoline{  
    font-size: 0.8em;
    font-style: italic;
}

.btn_div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

table#miczPrefs {
    padding: 10px;
    border-spacing: 0px;
    width: 90%;
    margin: 0px auto 40px auto;
    border: 1px solid #ccc;
}

.get_calendar_event_table_title{
    width: 90%;
    margin: auto;
}

.section_title{
    font-weight: bold;
}

table#miczPrefs td{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    padding: 2px;
}

table#miczPrefs tr:first-child td {
    border-top: none;
}
  
table#miczPrefs  tr:last-child td {
    border-bottom: none;
}

.autocomplete-container {
    position: relative;
}

.autocomplete-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: small;
}

.autocomplete-list li {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-list li:hover {
    background-color: #f0f0f0;
}

.autocomplete-list li.active {
    background-color: #ddd;
}

.hidden {
    display: none;
}

.unsaved{
    color: red;
}

label:has(input[type="checkbox"]) {
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #1C1B22;
        color: rgb(251, 251, 254);
    }
    
    a:link { color: #409EFF; }   
    a:visited { color: #409EFF; }  
    a:hover { color: #66B1FF; }   
    a:active { color: #66B1FF; }
    a:active { color: #66B1FF; }

    .autocomplete-list {
        background-color: #2E2F36;
        border: 1px solid #2E2F36;
    }
    
    .autocomplete-list li:hover {
        background-color: #4c4e58;
    }
    
    .autocomplete-list li.active {
        background-color: #4c4e58;
    }
}