@media (prefers-color-scheme: dark) {
    body {
        background-color: #1C1B22;
        color: rgb(251, 251, 254);
    }
    
    a:link { color: #409EFF; }   
    a:visited { color: #409EFF; }  
    a:hover { color: #66B1FF; }   
    a:active { color: #66B1FF; }
}

#addtags_prompt_container{
    width: 90%;
    margin: 20px auto;
}

#addtags_prompt_text{
    width: 100%;
}

.infoline{  
    font-size: 0.8em;
    font-style: italic;
}

#addtags_excl_list_container{
    width: 90%;
    margin: 40px auto;
}

#addtags_excl_list{
    width: 100%;
}

.btn_div{
    width: 100%;
    text-align: right;
}